<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Admin Panel
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/dashboard">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/users">
            <i class="material-icons">people</i>
            <p>Users</p>
          </a>
        </li>
        
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/doctors">
            <i class="fa fa-user-md"></i>
            <p>Doctors</p>
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/patients">
            <i class="fa fa-wheelchair"></i>
            <p>Patients</p>
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/articles-list">
            <i class="material-icons">content_paste</i>
            <p>Articles</p>
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/appointments-list">
            <i class="material-icons">date_range</i>
            <p>Appointments List</p>
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/notifications">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="admin/page-management">
            <i class="material-icons">settings</i>
            <p>Page Management</p>
          </a>
        </li>
      </ul>
    </div>
</div>
