
     
      <div class="content" style="position: relative;left: 60px;">
        <div class="container-fluid" style="width: 130%;">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                	<div class="card-icon" style="background-color: #00bcd4; position: relative;left: 700px;height: 100px;width: 100px;text-align: center;">
                		<i class="material-icons"style="position: relative;top: 25px;">content_paste</i>
              		</div>
                  <h4 class="card-title" style="font-size: 32px;margin-top: 15px;">Corona Virus</h4>
                  
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">ID</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">Date</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Title</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Writer</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Domain</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      
                    </div>
                    
                   
                    <br>
                    <div class="col-md-12">
              <div class="card card-profile">
                
                <div class="card-body">
                  <h6 class="card-category text-gray"></h6>
                  <h4 class="card-title"  >Corona Virus</h4><br><br>
                  <p class="card-description" style="text-align: justify ;color: #000">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                </div>
                <br>
            	<br><br>
                <div >
                    <img class="img" src="../assets/img/faces/marc.jpg"  style="width: 500px;height: 400px;text-align: center;" /> 
                </div>
                <br><br>
              </div>
            </div>
            		<a routerLink="/admin/articles-list" style="position: relative;left: -600px;"><button type="submit" class="btn btn-primary pull-right" ><i class="material-icons" >reply</i>&nbsp;Back</button></a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="material-icons">delete</i>&nbsp;Delete</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  
  